{#
/**
 * @file mailfish.html.twig
 * Default theme implementation to present MailFish data.
 *
 * This template is used when viewing MailFish pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_mailfish()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('mailfish') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
